<%include partials/header%>
  <div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
        <h2 class=""><small class="text-muted">Kategori</small> "Kamar Tidur"</h2>
        <p class="lead"></p><hr>
    </div>
    <div class="">
      <div class="form-inline">
        <form class="" action="">
          <input type="text" class="form-control" placeholder="Harga Min.">
          <input type="text" class="form-control" placeholder="Harga Max.">
        </form>
        <form class="form-inline" action="">
          <input type="checkbox" aria-label="Checkbox for following text input">
          <label>Baru</label>
        </form>
        <form class="form-inline" action="">
          <input type="checkbox" aria-label="Checkbox for following text input">
          <label>Bekas</label>
        </form>
        <div class="dropdown">
          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Urutkan Berdasarkan
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Relevansi</a>
            <a class="dropdown-item" href="#">Rating Terbaik</a>
            <a class="dropdown-item" href="#"></a>
          </div>
        </div>
        <button class="btn btn-dark btn-sm">Cari</button>
      </div>
    </div><hr>
    
    <div class="card-body form-inline py-1">
      <span class="mx-1">Rekomendasi:</span><button class="btn btn-dark btn-xs mx-1">Tempat Tidur</button>
      <button class="btn btn-dark btn-xs mx-1">Lemari</button>
      <button class="btn btn-dark btn-xs mx-1">Artwork</button>
      <button class="btn btn-dark btn-xs mx-1">Meja Belajar</button>
    </div><hr>
    <div class="card">
        <div class="card-header">
            Produk Terlaris
        </div>
        <div class="card-body row form-inline">
            <div class="col-6 col-lg-3 ">
                <div class="img-thumbnail">
                    <img class="img-fluid rounded" src="https://1414471346.rsc.cdn77.org/wp-content/uploads/2018/09/1-Set-Meja-Makan-Jati.jpg">
                    <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
                    <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span>(200)</span><!--200 pembeli-->
                </div>
            </div>
            <div class="col-6 col-lg-3 ">
                <div class="img-thumbnail">
                    <img class="img-fluid rounded" src="https://1414471346.rsc.cdn77.org/wp-content/uploads/2018/09/1-Set-Meja-Makan-Jati.jpg">
                    <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
                    <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span>(200)</span><!--200 pembeli-->
                </div>
            </div>
            <div class="col-6 col-lg-3 ">
                <div class="img-thumbnail">
                    <img class="img-fluid rounded" src="https://1414471346.rsc.cdn77.org/wp-content/uploads/2018/09/1-Set-Meja-Makan-Jati.jpg">
                    <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
                    <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span>(200)</span><!--200 pembeli-->
                </div>
            </div>
            <div class="col-6 col-lg-3 ">
                <div class="img-thumbnail">
                    <img class="img-fluid rounded" src="https://1414471346.rsc.cdn77.org/wp-content/uploads/2018/09/1-Set-Meja-Makan-Jati.jpg">
                    <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
                    <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span>(200)</span><!--200 pembeli-->
                </div>
            </div>
        </div>
    </div><br>
    <div class="card">
        <div class="card-header">
            Produk Terbaru
        </div>
        <div class="card-body row form-inline">
            <div class="col-6 col-lg-3 ">
                <div class="img-thumbnail">
                    <img class="img-fluid rounded" src="https://1414471346.rsc.cdn77.org/wp-content/uploads/2018/09/1-Set-Meja-Makan-Jati.jpg">
                    <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
                    <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span>(200)</span><!--200 pembeli-->
                </div>
            </div>
            <div class="col-6 col-lg-3 ">
                <div class="img-thumbnail">
                    <img class="img-fluid rounded" src="https://1414471346.rsc.cdn77.org/wp-content/uploads/2018/09/1-Set-Meja-Makan-Jati.jpg">
                    <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
                    <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span>(200)</span><!--200 pembeli-->
                </div>
            </div>
            <div class="col-6 col-lg-3 ">
                <div class="img-thumbnail">
                    <img class="img-fluid rounded" src="https://1414471346.rsc.cdn77.org/wp-content/uploads/2018/09/1-Set-Meja-Makan-Jati.jpg">
                    <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
                    <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span>(200)</span><!--200 pembeli-->
                </div>
            </div>
            <div class="col-6 col-lg-3 ">
                <div class="img-thumbnail">
                    <img class="img-fluid rounded" src="https://1414471346.rsc.cdn77.org/wp-content/uploads/2018/09/1-Set-Meja-Makan-Jati.jpg">
                    <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
                    <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span>(200)</span><!--200 pembeli-->
                </div>
            </div>
        </div>
    </div>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
        <h2 class=""><small class="text-muted">Produk Lainnya</small></h2><hr>
    </div>
    <div class="row">
      <div class="col-6 col-lg-3 ">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://1414471346.rsc.cdn77.org/wp-content/uploads/2018/09/1-Set-Meja-Makan-Jati.jpg">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://1414471346.rsc.cdn77.org/wp-content/uploads/2017/09/Lemari-Pakaian-Jati-Pintu-Kaca-Cermin.jpg">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://rumahminimalismedia.com/wp-content/uploads/2016/11/Model-Lemari-Kayu-Minimalis-2017.jpg">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="http://indofurniture.net/wp-content/uploads/2016/10/Kursi-KML-015.jpg">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://ae01.alicdn.com/kf/HTB11VZEd3oQMeJjy0Fnq6z8gFXaH/Transparan-kaca-hotel-meja-makan-vas-kecil-hidroponik-bunga-dekorasi-bunga-vas-bunga-mawar-dimasukkan.jpg_640x640.jpg">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://images.pexels.com/photos/1438511/pexels-photo-1438511.jpeg?auto=compress&cs=tinysrgb&h=350">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://images.pexels.com/photos/1081111/pexels-photo-1081111.jpeg?auto=compress&cs=tinysrgb&h=350">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://images.pexels.com/photos/433142/pexels-photo-433142.jpeg?auto=compress&cs=tinysrgb&h=350">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://images.pexels.com/photos/789382/pexels-photo-789382.jpeg?auto=compress&cs=tinysrgb&h=350">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3 ">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://1414471346.rsc.cdn77.org/wp-content/uploads/2018/09/1-Set-Meja-Makan-Jati.jpg">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://1414471346.rsc.cdn77.org/wp-content/uploads/2017/09/Lemari-Pakaian-Jati-Pintu-Kaca-Cermin.jpg">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://rumahminimalismedia.com/wp-content/uploads/2016/11/Model-Lemari-Kayu-Minimalis-2017.jpg">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://rumahminimalismedia.com/wp-content/uploads/2016/11/Model-Lemari-Kayu-Minimalis-2017.jpg">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3 ">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://1414471346.rsc.cdn77.org/wp-content/uploads/2018/09/1-Set-Meja-Makan-Jati.jpg">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://1414471346.rsc.cdn77.org/wp-content/uploads/2017/09/Lemari-Pakaian-Jati-Pintu-Kaca-Cermin.jpg">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://rumahminimalismedia.com/wp-content/uploads/2016/11/Model-Lemari-Kayu-Minimalis-2017.jpg">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
    </div>
  </div>
<%include partials/footer%>