<%include partials/header%>
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Start Building Here</h1>
    <p class="lead">Build Your Empire! Comfort Your Home! Enjoy Your life!</p>
  </div>

  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Bahan Bangunan</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title"><small class="">Discount 30%</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <img class="img-fluid" src="http://pedomanbengkulu.com/wp-content/uploads/2018/09/IMG_20180903_210627.jpg" alt="">
            <li><br>Fast Delivery</li>
            <li>Provided Worker</li>
            <li>Multiple Choices</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary">Request Now</button>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Tempat Tidur</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title"><small class="">Free Delivery</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <img class="img-fluid" src="https://m2fabelio.imgix.net/catalog/product/cache/image/700x350/e9c3970ab036de70892d86c6d221abfe/w/e/wellington_queen_bed_0_1.jpg" alt="">
            <li><br>20 users included</li>
            <li>10 GB of storage</li>
            <li>Priority email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary">Request Now</button>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Arena Bermain</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title"><small class="">Discount 10%</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <img class="img-fluid" src="https://jualplayground.me/wp-content/uploads/2017/09/konsep-taman-bermain-anak1.jpg" alt="">
            <li><br>30 users included</li>
            <li>15 GB of storage</li>
            <li>Phone and email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary">Request Now</button>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-6 col-lg-3 ">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://1414471346.rsc.cdn77.org/wp-content/uploads/2018/09/1-Set-Meja-Makan-Jati.jpg">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://1414471346.rsc.cdn77.org/wp-content/uploads/2017/09/Lemari-Pakaian-Jati-Pintu-Kaca-Cermin.jpg">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://rumahminimalismedia.com/wp-content/uploads/2016/11/Model-Lemari-Kayu-Minimalis-2017.jpg">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="http://indofurniture.net/wp-content/uploads/2016/10/Kursi-KML-015.jpg">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://ae01.alicdn.com/kf/HTB11VZEd3oQMeJjy0Fnq6z8gFXaH/Transparan-kaca-hotel-meja-makan-vas-kecil-hidroponik-bunga-dekorasi-bunga-vas-bunga-mawar-dimasukkan.jpg_640x640.jpg">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://images.pexels.com/photos/1438511/pexels-photo-1438511.jpeg?auto=compress&cs=tinysrgb&h=350">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://images.pexels.com/photos/1081111/pexels-photo-1081111.jpeg?auto=compress&cs=tinysrgb&h=350">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://images.pexels.com/photos/433142/pexels-photo-433142.jpeg?auto=compress&cs=tinysrgb&h=350">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://images.pexels.com/photos/789382/pexels-photo-789382.jpeg?auto=compress&cs=tinysrgb&h=350">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3 ">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://1414471346.rsc.cdn77.org/wp-content/uploads/2018/09/1-Set-Meja-Makan-Jati.jpg">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://1414471346.rsc.cdn77.org/wp-content/uploads/2017/09/Lemari-Pakaian-Jati-Pintu-Kaca-Cermin.jpg">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://rumahminimalismedia.com/wp-content/uploads/2016/11/Model-Lemari-Kayu-Minimalis-2017.jpg">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://rumahminimalismedia.com/wp-content/uploads/2016/11/Model-Lemari-Kayu-Minimalis-2017.jpg">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3 ">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://1414471346.rsc.cdn77.org/wp-content/uploads/2018/09/1-Set-Meja-Makan-Jati.jpg">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://1414471346.rsc.cdn77.org/wp-content/uploads/2017/09/Lemari-Pakaian-Jati-Pintu-Kaca-Cermin.jpg">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="img-thumbnail">
          <img class="img-fluid rounded" src="https://rumahminimalismedia.com/wp-content/uploads/2016/11/Model-Lemari-Kayu-Minimalis-2017.jpg">
          <a href="#"><p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut nam consequuntur earum doloribus doloremque, repellat, quod reprehenderit deserunt hic odit delectus officiis totam iste voluptates fugiat quas exercitationem vel.</p></a>
          <h5 class="card-title pricing-card-title ml-1">Rp 250.000<small class=""> <button class="ml-1 mb-2 btn btn-sm">Tambah</button></small></h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(200)</span><!--200 pembeli-->
        </div>
      </div>
    </div>
  </div>
<%include partials/footer%>